<footer class="bg-[#111218] text-white py-12 border-t border-gray-800">
  <div class="layout-container flex justify-center w-full px-4 md:px-10">
    <div class="flex flex-col w-full max-w-[1440px] gap-8">
      <div class="flex flex-col md:flex-col justify-center items-center gap-8">
        
        <a routerLink="/home" class="w-36 h-auto">
          <img
            src="https://logodix.com/logo/74993.png"
            alt="Chanel Logo"
            class="h-full w-full object-contain"
          />
        </a>
        
        <div class="flex gap-6 text-[10px] font-bold tracking-[0.15em] uppercase text-gray-400" style="font-family: 'Manrope', sans-serif;">
          <a class="hover:text-white transition-colors" href="#">Legal Area</a>
          <a class="hover:text-white transition-colors" href="#">Privacy Policy</a>
        </div>
      </div>
      <div class="w-full h-px bg-gray-800"></div>
      <div class="flex justify-center md:justify-between items-center text-[10px] text-gray-500 uppercase tracking-widest" style="font-family: 'Manrope', sans-serif;">
        <span>© 2025 Chanel. All rights reserved.</span>
        
        <div class="hidden md:flex gap-4">
          <a href="https://www.instagram.com/chanelofficial/" target="_blank" rel="noopener noreferrer" class="hover:text-white transition-colors cursor-pointer">Instagram</a>
          <a href="https://www.facebook.com/chanel/" target="_blank" rel="noopener noreferrer" class="hover:text-white transition-colors cursor-pointer">Facebook</a>
          <a href="https://www.youtube.com/user/CHANEL" target="_blank" rel="noopener noreferrer" class="hover:text-white transition-colors cursor-pointer">Youtube</a>
        </div>
      </div>
    </div>
  </div>
</footer>